@import "_variables";

:root {
    --background-color: #e29600;
    font-family: sans-serif, Verdana;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background: #282c35;

    &::-webkit-scrollbar {
        width: 0;
    }

    overflow: hidden;
    font-family: sans-serif,
    Verdana;
}

.slHiden {
    visibility: hidden;
}


.standartNwasdModal {
    border-radius: none;

    .modal-dialog {
        margin: auto;
        border: none;
        border-radius: none;
    }

    .modal-content {
        border-radius: none;
    }

    .modal-body {
        height: calc(100vh - 44px);
        border-radius: none;
    }

    .modal-header {
        height: 32px;
        font-size: 12px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }

    .modal-footer {
        height: 42px;
        background: red;
        padding: 0;
        display: flex;
        align-items: center;

        .btn {
            font-size: 14px;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 36px;
            margin: 0;
            padding: 0 4px 0 4px;
            margin-right: 6px;
        }
    }
}

.defalutNwasdToolScreen {
    width: 100%;
    height: 100%;
    max-width: 500px;
    margin: auto;
    transform: translateY(100%);
    transition: transform .3s;
    border: none;
    padding: 0;
    background: #202327;
    overflow: hidden;

    @media all and (min-width: 500px) {
        border-radius: 16px;
        height: 95%;
    }

    .screenMain {
        height: calc(100% - 56px);
        background: #282c35;
        border: none;
        transition: .2s;
        margin-top: 0;
    }

    .screenFooter {
        height: 54px;
        margin-top: 2px;
        background: #282c35;
        border: none;


        .screenFooterMain {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: calc(60%);
            float: right;
            height: 100%;

            .screenFooterButton {
                min-width: 36px;
                height: 36px;
                background: #ecf0f1;
                border-radius: 16px;
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.42);
                font-size: 13px;
                color: #282c35;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 5px;
                font-weight: 600;

                &:active {
                    transform: scale(0.9);
                }
            }

            .-screenDownMenuTrigger {
                transition: .2s;
            }

        }

        .screenFooterName {
            width: calc(40%);
            float: left;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .screenFooterTitle {
                max-width: 90%;
                height: 35px;
                background: #ecf0f1;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.356);
                border-radius: 16px 16px 16px 0;
                display: flex;
                align-items: center;
                padding: 0 8px;
                color: #282c35;
                font-size: 12px;
                font-weight: 600;
            }
        }

        .screenFooterMenu {
            width: 100%;
            height: 500px;
            background: #282c35;
            border-top: 2px solid #202327;
            float: left;
            transition: .2s;
        }
    }

    input[type="text"] {
        height: 36px;
        min-width: 60px;
        background: #ecf0f1;
        border-radius: 12px;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.42);
        font-size: 13px;
        color: #282c35;
        padding: 0 8px;
        border: none;
        outline: none;
        font-weight: 600;
        margin: 8px;
    }

    input[type="range"] {
        height: 5px;
        width: 150px;
        -webkit-appearance: none;
        outline: none;
        border-radius: 4px;
        background: #3498db;
        margin: 8px;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #3498db;
            box-shadow: 0 0 2px #222;
            cursor: pointer;
        }
    }

    .jq-selectbox__select {
        height: 36px;
        width: 150px;
        background: #ecf0f1;
        border-radius: 12px;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.42);
        font-size: 13px;
        color: #282c35;
        padding: 8px 12px;
        border: none;
        outline: none;
        font-weight: 600;
        margin: 8px;

        .jq-selectbox__trigger {
            float: right;
            width: 8px;
            height: 8px;
            border-bottom: 1.5px solid #282c35;
            border-left: 1.5px solid #282c35;
            transform: rotate(-45deg);
            top: -14px;
            position: relative;
        }
    }

    select {
        width: 0;
        height: 0;
    }

    .jq-selectbox__dropdown {
        ul {
            border-radius: 3px 12px 12px 3px;
            width: 150px;
            background: #ecf0f1;
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.42);
            position: relative;
            right: -8px;
            padding: 5px 0;
            border-left: 3px solid #3498db;

            li {
                text-align: center;
                font-size: 13px;
                color: #282c35;
                font-weight: 600;

                &:not(:first-child) {
                    border-top: 1px solid #c0c3c4;
                }

                &:hover {
                    background: #3498db;
                }
            }
        }
    }

    span {
        color: #bdc3c7;
        font-size: 10px;
        font-weight: 600;
        position: relative;
        top: -14px;
        margin: 0 8px;
    }

    .downMenuGroupContainer {
        display: inline-block;
        margin-bottom: -8px;
    }

    .screenDefaultButton {
        height: 36px;
        min-width: 60px;
        background: #ecf0f1;
        border-radius: 12px;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.42);
        font-size: 13px;
        color: #282c35;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0 8px;
        font-weight: 600;
        margin: 8px;
        user-select: none;
        cursor: pointer;

        &:active {
            transform: scale(0.9);
        }
    }

    .jq-checkbox {
        width: 26px;
        height: 26px;
        background: #ecf0f1;
        border-radius: 6px;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.42);
        border: 2px solid #282c35;
        display: inline-flex;
        margin-bottom: 8px;
        position: relative;
        margin: 0px 8px 16px 8px;
        bottom: -17px;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 1px inset rgba(0, 0, 0, 0.178);
    }

    input[type="checkbox"] {
        margin: 0;
        width: 0px;
        height: 0px;
    }

    .checked {
        .jq-checkbox__div {
            background: #26d8b4;
        }
    }

    .jq-checkbox__div {
        background: #ecf0f1;
        width: 12px;
        height: 12px;
        border-radius: 25%;
    }

    .jq-number {
        height: 36px;
        width: 100px;
        border-radius: 12px;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.42);
        margin: 8px;
        display: inline-block;
        background: #ecf0f1;

        input {
            font-size: 13px;
            color: #282c35;
            font-weight: 600;
            background: #ecf0f1;
            width: 100px;
            height: 36px;
            border: none;
            border-right: 1px solid #282c35;
            padding: 0;
            margin: 0;
            border-radius: 12px 12px;
            outline: none;
            padding-left: 8px;
        }
    }
}

.defalutNwasdToolScreenActive {
    transform: translateY(0%);
}

.tagline {
    position: absolute;
    z-index: 2;
    font-size: 20px;
    letter-spacing: 1px;
    color: #a7a7a7;
    top: 0px;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 56px;
    display: flex;
    align-items: center;
    font-style: italic;
}

.none {
    display: none;
}

.hiden {
    overflow: hidden;
    width: 100vh;
}

.navbarButton {
    float: right;
    outline: none;
    margin-left: 50%;
    transform: translate(-50%);
}

.navbar {
    z-index: 1;
}

.navPanelLeft {
    @include media(sm) {
        display: none;
    }

    @include media(xs) {
        display: none;
    }

    padding: 0px;
}

.navLeftContainer {
    width: 100%;
    float: right;
    display: inline-block;
    overflow-y: auto;
    height: calc(100vh - 90px);
    padding-right: 10px;
    box-sizing: border-box;
    margin-top: 2px;

    &::-webkit-scrollbar {
        width: 0;
    }

    &:first-child {
        box-shadow: 3px 3px 3px 1px #151824;
    }

    .flatMainWrap {
        height: 115px;
        max-width: 250px;
        float: right;
        background: var(--background-color);
        border-radius: 4px;
        overflow: hidden;
        // box-shadow: 3px 3px 3px 1px #151824;
        margin-bottom: 2px;
        margin-top: 8px;
        cursor: pointer;


        i {
            font-size: 110px;
            color: rgba(0, 0, 0, 0.178);
            position: relative;
            display: block;
            margin-right: 80px;
            bottom: -58px;
        }

        span {
            font-size: 150px;
            color: white;
            font-family: 'Varela Round', sans-serif;
            position: sticky;
            margin-top: -126px;
            float: right;
            letter-spacing: -30px;
            margin-right: 30px;
        }

        div {
            height: 115px;
            width: 204px;
            z-index: 1;
            position: relative;
            margin-top: -110px;
        }
    }

    .pipeMainWrap {
        width: calc(100% - 20px);
        height: 20px;
        margin-top: 18px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        background: #27ae60;

        span {
            position: relative;
            right: calc(20px - 100%);
            height: 40px;
            width: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            color: white;
            font-family: 'Varela Round', sans-serif;
            box-shadow: 0 0 5px #151824c5;
            cursor: pointer;
            background: #2ecc71;
        }
    }
}

.navPanelRight {
    @include media(xs) {
        display: none;
    }

    padding: 0px;
}

.vidgetsContainer {
    width: 100%;
    float: right;
    display: inline-block;
    overflow-y: auto;
    height: calc(100vh - 90px);
    padding: 0 10px;
    box-sizing: border-box;
    margin-top: 2px;

    &::-webkit-scrollbar {
        width: 0;
    }

    .mainVidjetContainer {
        height: 115px;
        max-width: 280px;
        margin-top: 10px;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 3px 3px 3px 1px #151824;
        transition: 2s ease-out;

        .vidjetImg {
            height: 100%;
            float: left;
            width: 100%;

            img {
                height: 100%;
                border-radius: 2px;
                max-width: 100%;
            }
        }

        span {
            top: -20px;
            position: relative;
            font-size: 12px;
            background: #202020;
            padding: 2px;
            color: #fff;
        }

        i {
            color: white;
            z-index: 600;
            float: right;
            position: relative;
            top: -105px;
            margin-right: 10px;
            font-size: 30px;
            cursor: pointer;
            transition: .4s;

            &:active {
                transform: scale(3);
            }
        }
    }
}

.mainContainer {
    display: block;
    padding: 0px;
    height: calc(100vh - 70px);

    @media all and (max-width: 991px) {
        height: calc(100vh - 90px);
    }
}

.blockContainer {
    background: url(../Images/pixel_pattern.png) #1e2234;
    overflow-y: auto;
    border-radius: 4px;
    box-shadow: 3px 3px 3px 1px #151824;
    border: 10px solid #1e2234;
    box-sizing: border-box;
    font-size: 0;
    margin: auto;
    margin-top: 10px;
    height: calc(100% - 40px);

    &::-webkit-scrollbar {
        width: 0;
    }

    .blockItem {
        display: inline-block;
        border: 1px solid #1e2234;
        border-radius: 2px;
        height: 150px;
        font-size: 1em;
        overflow: hidden;
        background: #202020;
        box-sizing: border-box;

        .offline {
            height: 130px;
            position: relative;
            background: rgba(0, 0, 0, 0.5);
            margin-top: -148px;
            border-radius: 1px 1px 0 0;
            z-index: 10;
        }
    }

    .growItem {
        display: inline-block;
        border: 1px solid #1e2234;
        border-radius: 2px;
        height: 250px;
        overflow: hidden;
        background: #202020;
        box-sizing: border-box;
        width: 50%;
        max-width: 200px;

        .offlineGrow {
            height: 250px;
            position: relative;
            background: rgba(0, 0, 0, 0.5);
            margin-top: -148px;
            border-radius: 1px 1px 0 0;
            z-index: 10;
        }
    }

    .numberOfWijet {
        background: #303952;
        margin-right: 3px;
        padding: 2px;
        border-radius: 3px;
    }
}

.titleContainer {
    width: 100%;
    height: 28px;
    background: var(--background-color);
    background-attachment: local;
    text-align: center;
    font-size: 18px;
    padding-top: 2px;

    @include media(xs) {
        font-size: 16px;
    }
}

.navLeft,
.navRight {
    padding: 0px;
}

.titleIcon {
    color: transparent;
    display: none;
    background: white;
    width: 40px;
    height: 40px;
    font-size: 14px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 1px 1px 1px 1px #1518248f;
    z-index: 1;

    @include media(xs) {
        color: var(--background-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.mainTitle {
    padding: 0px 10px;
    white-space: nowrap;

    span {
        display: block;
        position: relative;
        bottom: -2px;
        max-width: 90%;
        overflow-y: scroll;
        max-height: 100%;
        margin: auto;
        padding: 0 25px;
        overflow: hidden;

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    .rightTitleIcon {
        right: 10px;
        margin-top: -29px;
    }

    .leftTitleIcon {
        top: -5px;

        @include media(sm) {
            color: var(--background-color);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.menuPanel {
    background: #282c35;
    position: absolute;
    top: 40px;
    box-shadow: 3px 3px 3px 1px #151824;
    height: calc(100vh - 80px);
    box-sizing: border-box;
    z-index: 600;
    transition: .5s ease-out;
}

.rightMenuPanel {
    width: 280px;
    right: -300px;
    border-left: 1px solid white;
    display: none;

    .vidgetsContainer {
        height: calc(100% - 32px);
        padding-left: 10px;
    }
}

.leftMenuPanel {
    width: 235px;
    left: -260px;
    margin-left: -10px;
    border-right: 1px solid white;
    display: none;

    .navLeftContainer {
        height: calc(100% - 32px);
        padding-left: 10px;
    }
}

.leftCloseIcon {
    margin-top: -6px;
    margin-left: -20px;
    z-index: 600;
}

.rightCloseIcon {
    margin-top: -6px;
    margin-left: 215px;
    z-index: 600;

    @include media(sm) {
        color: var(--background-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.serverContainer {
    margin: 0;
    width: 100%;

    @media all and (max-width: 991px) {
        height: calc(100vh - 112.5px);
    }

    .serverTitle {
        position: fixed;
        margin-top: -30px;
    }

    .serverContainerMain {
        margin-top: 30px;
        height: calc(100vh - 80px);
        overflow-y: scroll;
        padding: 0 10px;

        @media all and (max-width: 991px) {
            height: calc(100vh - 112px);
        }

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    input,
    select {
        outline: none;
        border: 2px solid transparent;
        border-radius: 2px;
        padding: 2px;
        transition: .5s;
        margin: 5px 10px 0px 5px;
        max-width: 130px;

        &:focus {
            border: 2px solid #00dae2;
        }

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    input {
        width: 160px;
    }

    select {
        height: 100px;
    }
}

.serverContainerItem {
    max-width: 350px;
    background: #4b6584;
    margin: 15px 10px 0 0;
    border-radius: 6px;
    box-shadow: 0 0 10px 5px #00000049;
    display: inline-block;
    overflow: hidden;
    padding-bottom: 5px;
    vertical-align: top;

    .serverContainerItemTitle {
        font-size: 16px;
        text-align: center;
        height: 20px;
        width: 100%;
        display: block;
        background: #00dae2;
        border-radius: 6px 6px 0 0;
        padding: 0 10px;
    }

    .serverContainerItemMain {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        min-height: 105px;
    }
}

.serverButton {
    font-size: 40px;
    color: #fff;
    transition: .3s;
    margin: 10px;
    cursor: pointer;

    &:active {
        transform: scale(1.5);
        text-shadow: -1px 1px 3px black;
    }
}

.userMenu {
    position: absolute;
    right: 20px;

    i {
        font-size: 30px;
        cursor: pointer;
        transition: .2s;

        &:active {
            transform: rotateY(180deg) scale(1.5);
            color: #fff;
        }
    }
}

.userSettings {
    width: 100%;
    height: 400px;
    background: #ecf0f1 url("../Images/pattern-3.jpg");
    background-blend-mode: color-burn;
    position: relative;
    margin-top: -400px;
    z-index: 0;
    transition: .5s ease-out;

    .userSettingsMain {
        width: 300px;
        height: 400px;
        background: #282c35;
        float: right;
        border-top: 5px solid #23272e;
        border-bottom: 5px solid #23272e;
        overflow-y: scroll;
        box-sizing: border-box;
        padding-top: 10px;

        &::-webkit-scrollbar {
            width: 0;
        }

        .userSettingsMainItem {
            margin-top: 10px;
            padding: 0 15px;
            width: 100%;
            display: flex;
            align-items: center;
            color: #989da1;
            font-weight: 600;
            font-size: 14px;

            span {
                color: #bbbbbb;
            }
        }

        .hr {
            width: 80%;
            height: 1px;
            background: #989da1;
            margin: 15px;
        }

        .userSettingsMainSwitch {
            width: 40px;
            height: 22px;
            background: #4b6584;
            border-radius: 11px;
            margin-left: 15px;
            display: flex;
            align-items: center;

            div {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: #fc5c65;
                cursor: pointer;
                position: relative;
                transition: .1s;
            }

            .userSettingsMainSwitchActive {
                background: #26de81;
                margin-left: 15px;
            }
        }

        #leaveOfAccount {
            color: #ff4757;
        }

        #resetPassOfAccount {
            color: #70a1ff;
        }

        .userSettingsLink {
            p {
                display: inline;
                margin: 0;
            }

            cursor: pointer;

            &:hover {
                p {
                    text-decoration: underline;
                }
            }
        }
    }

    .userSettingsBackground {
        float: left;
        position: absolute;
        height: 400px;
        display: flex;
        align-items: center;

        @media all and (max-width: 991px) {
            display: none;
        }

        img {
            height: 230px;
            display: inline-block;
            animation: imgAnim 10s linear infinite;

            &:nth-child(2) {
                animation-delay: 1s;
            }

            &:nth-child(3) {
                animation-delay: 2s;
            }

            @keyframes imgAnim {
                0% {
                    transform: translateY(0px);
                }

                2% {
                    transform: translateY(-70px);
                }

                3% {
                    transform: translateY(-70px);
                }

                5% {
                    transform: translateY(10px);
                }

                6% {
                    transform: translateY(0px);
                }
            }
        }
    }
}

.BAN {
    width: 100%;
    height: 100%;
    font-weight: 600;
    color: #ff4757;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../Images/nWASD_pattern.jpg");
    text-align: center;
    border-top: 5px solid #23272e;
}

.modal-header {
    padding: 10px;
    background: var(--background-color);
    border: none;

    button {
        outline: none;
    }
}

.modal-footer {
    padding: 4px;
    border: none;
}

.modal-body {
    padding: 10px;
    border: none;
}

.modal-content {
    border: none;
    background: #d2deee;
}

.modal {
    border-radius: 4px;

    hr {
        margin: 6px 0 6px 0;
    }
}

.modalItemWrap {
    width: 100%;
    display: flex;
    align-items: center;

    .modalItemTitle {
        font-size: 14px;
        font-weight: 600;
        color: #2f3542;
        margin-right: 5px;
    }

    input,
    select {
        outline: none;
        border: 2px solid transparent;
        border-radius: 2px;
        padding: 2px;
        transition: .5s;
        height: 32px;
        min-width: 50px;

        &:focus {
            border: 2px solid var(--background-color);
        }

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    img {
        width: 90%;
        margin: auto;
    }
}

.modalInfo {
    display: flex;
    align-items: center;
    padding: 16px 0 16px 0;

    span {
        color: #747d8c;
        font-size: 12px;
        width: 28%;
        text-align: center;
    }

    .line {
        width: 36%;
        background: #747d8c;
        height: 1px;
    }
}

.toastWrap {
    position: absolute;
    z-index: 900;
    right: 0px;
    bottom: 0px;
    padding: 10px;
    max-height: calc(100vh - 52.8px);
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0;
    }

    // height: calc(100vh - 52px);
    .toast {
        box-shadow: 0 0 6px 2px #00000049;

        .toast-body {
            opacity: 0.5;
        }

        .toast-header {
            button {
                outline: none;
            }
        }
    }
}

.userMenu_phone,
.phoneMenu {
    display: none;
}

@media all and (max-width: 991px) {
    .navbar {
        display: none;
    }

    .tagline {
        width: 100%;
        margin-left: 0;
        transform: none;
        font-size: 18px;
        background: #202327;
        height: 40px;
        display: flex;
        align-items: center;
        z-index: 1;
        padding-left: 8px;
    }

    body {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .userMenu_phone {
        position: absolute;
        z-index: 5;
        top: 4px;
        right: 4px;
        display: block;
        color: #343a40;
    }

    .phoneMenu {
        width: 100%;
        height: 40px;
        background: #202327;
        margin-top: calc(100vh - 80px);
        position: absolute;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: #202327;
        font-size: 18px;
        // box-shadow: 0px 1px 8px 0px black;

        div {
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border-radius: 45%;
            box-shadow: 0 0 5px #14141450;

            &:active {
                transform: scale(0.9);
            }
        }
    }

    .toastWrap {
        bottom: 45px;
    }

    .vidgetsContainer {
        height: calc(100vh - 112px);
    }
}