.mainNotifyWijetWrap {
    width: 98px;
    background: #3a6566;
    font-size: 42px;
    color: whitesmoke;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

    .notifyIndicator {
        width: 20px;
        height: 20px;
        background: #f77667;
        border-radius: 40%;
        position: relative;
        z-index: 2;
        float: right;
        left: -28px;
        bottom: -38px;
        border: 2px solid #3a6566;
        font-size: 9px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        color: whitesmoke;
        visibility: hidden;
    }

    i {
        // animation: notify 5s forwards;
        margin: auto;
        display: block;
        text-align: center;
        margin-top: 40px;
        cursor: pointer;
    }

    @keyframes notify {
        10% {
            transform: scale(1.2);
        }
        15%{
            transform: scale(1.2) rotate(20deg);
        }
        20%{
            transform: scale(1.2) rotate(-20deg);
        }
        25%{
            transform: scale(1.2) rotate(20deg);
        }
        30%{
            transform: scale(1.2) rotate(-20deg);
        }
        35%{
            transform: scale(1.2) rotate(20deg);
        }
        40%{
            transform: scale(1.2) rotate(-20deg);
        }
        45%{
            transform: scale(1.2) rotate(20deg);
        }
        50%{
            transform: scale(1.2) rotate(-20deg);
        }
        55%{
            transform: scale(1.2) rotate(20deg);
        }
        60%{
            transform: scale(1.2) rotate(-20deg);
        }
        70% {
            transform: none;
        }
    }
}

#notifyModal {
    
}